pkgbase = plasma-vault
	pkgdesc = Plasma applet and services for creating encrypted vaults
	pkgver = 6.4.0
	pkgrel = 2
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = fuse2
	depends = gcc-libs
	depends = glibc
	depends = gocryptfs
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kitemmodels
	depends = kservice
	depends = kwidgetsaddons
	depends = libksysguard
	depends = libplasma
	depends = networkmanager-qt
	depends = plasma-activities
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	source = https://download.kde.org/stable/plasma/6.4.0/plasma-vault-6.4.0.tar.xz
	source = https://download.kde.org/stable/plasma/6.4.0/plasma-vault-6.4.0.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = cdd0edabe1a215c85668c47349f3ac8eed95a461bbd564d67ec8df2170eae76c
	sha256sums = SKIP

pkgname = plasma-vault
